<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyze</title>
</head>
<body>
    
    <h1> Text Analyze</h1>
    <form action="/about" method='GET' style="min-width: 300px; margin : auto">
        <textarea name="typedData" style="width: 95vw; height: 150px;"></textarea>
        <br>

        <input type="checkbox" name="isChecked" id="inChecked">
        <label for="isChecked"> Remove Punctuation</label>
        <br>
        <button type="submit">Analyze Text</button>
    </form>
    <br>
    <a href="/"> Home </a>
</body>
</html>